.panda-bg-info{
    background-color:#feeae9;
}
.categories img{
    width: 100px;
}
.panda-btn-Buy-Now{
    background-image: linear-gradient(to bottom,#ff589b 0%,#ff4b92 100%);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}